<!-- About US
  TODO :: - add images, short desc
          - check if alignment of divs are correct
          - Make sure DP img is constant size
          - desc should break down under img in mobile
-->
<section class="block" id="about-us">
  <h2>Meet The Team</h2>

  <div class="row">
    <div class="col">

      <div class="row float-left" id="left">
        <div class="col-sm-12 align-items-center">
          <div class="row align-items-center">
            <div class="col img-tag">
              <p>Img</p>
              <h4>Name</h4>
            </div>
            <div class="col justify-content-end">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row float-right" id="right">
        <div class="col-sm-12 align-items-center">
          <div class="row align-items-center">
            <div class="col">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col justify-content-end img-tag">
              <p>Img</p>
              <h4>Name</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
