<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        &copy; 2017 IMAGN Studios <br>
        <sub>Authors: Jonathan Newton  &amp; Mobeen Aftab</sub>
      </div>
      <div class="col-md-2">
        <h6>Social Links</h6>
        <ul class="list-unstyled">
          <li><i class="fa fa-user" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
          <li><i class="fa fa-github" aria-hidden="true"></i></li>
          <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6>Jonathan Newton</h6>
        <ul class="list-unstyled">
          <li><a href="https://www.newton-blog.herokuapp.com/" target="_blank"><i class="fa fa-user" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/VladimirNewton" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/jwcnewton" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6>Mobeen Aftab</h6>
        <ul class="list-unstyled">
          <li><a href="http://mobeenaftab.com/" target="_blank"><i class="fa fa-user" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/mobeenaftab1" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/MobeenAftab" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
