/* You can add global styles to this file, and also import other style files */

/* TODO - Need to decide on
	- select range of sizes for all text, headings and links
	-	size of sections and order of display
	-	background images
	-	fonts, size and color
	-	nav and footer positions and color
*/

/****Variables****/
$back1: url('img/back1.jpg');
$back2: url('img/back2.jpg');
$back3: url('img/back3.jpg');
$back4: url('img/back4.jpg');

/****General Styles****/
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

/****Nav bar styles****/
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
	z-index: 10;
}

/****Nav bar styles****/
#footer {
	background: black;
	font-size: 1.2rem;
	color: white;
	padding: 1.2em;
	// margin-top: 1.2em;
}

/****parallax Styles****/

.parallax {
    height: 100%;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home {
  background-image: $back1;

	.container {
		text-align: center;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
	}
}

#parallax2 {
  background-image: $back2;
}

#parallax3 {
  background-image: $back3;
}

#parallax4 {
  background-image: $back4;
}

/**** Class Styles ****/
.block {
  width: 100%;
  background-color: lightgrey;
	font-size: 2em;
	color: black;
	text-align: center;
	margin: auto;
	padding: 4px;
}

.inner-wrap {
	font-size: 2em;
	color: white;
	text-align: center;
	margin: auto;
	padding: 4px;
}

/****id styles****/
#about-us {
}

#contact {
}

#projects {
}
